/* 
 * Auth
*/

.authcontainer {
  max-width: 420px;
  margin: 96px auto;
  background-color: var(--shark-9);
}

.authcontainer a {
  color: #04bfbf !important;
}

.authcontainer button[type="submit"] {
  background: #04bfbf !important;
}

.authcontainer input:focus {
  border-color: #04bfbf !important;
}

.authcontainer .sbui-typography-text-danger {
  top: 3px !important;
  position: absolute !important;
}
