.root {
  @apply sticky shadow-md top-0 bg-black z-40 transition-all duration-150  border-b-2 border-black border-solid;
  background-image: url("/gradient_A-1024x576.svg");
  background-size: cover;
}

.link {
  @apply inline-flex items-center text-shark-100 leading-6 font-thin transition ease-in-out duration-75 cursor-pointer text-accents-6 rounded-md p-1;
}

.link:hover {
  @apply text-white;
}

.link:focus {
  @apply outline-none text-accents-8 ring-2 ring-regal-blue-50 ring-opacity-50 whitespace-nowrap;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out shadow-md hover:shadow-none;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
